.bundle
db/*.sqlite3
config/database.yml
log/development.log
log/production.log
log/*.log
nbproject
db/schema.rb
db/*.sql
doc/api
doc/app
tmp/**/*
*.pid
*~
.DS_Store
.myRdoc
mkmf.log
public/system/**/*
public/assets/
public/assets/**/*
public/uploaded_files/**/*